.leftCorner{
    position: absolute;
    top: -80px;
    left: 30px;
}

.leftCornerAuchan{
    position: absolute;
    left: 30px;
    top: 20px;
}

.positionSlideIndex{
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.positionImageDiagram{
    position: absolute;
    bottom: 20%;
    left: 25%;
}

.positionImageDiagramMDM{
    position: absolute;
    bottom: 25%;
    left: 12%;
}

.rightBottomCorner {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.bottomCenter {
    position: absolute;
    bottom: 15%;
    left: 37%;
}

.rehauss {
    position: relative;
    bottom: 5%;
}

.insideText{
    font-size: 20%;
}

.bigImpact {
    height: 30vw;
    width: auto;

}

.presentationPosition {
    position: relative;
    right: 10%;
    top: 6vw;
}